body{
    background-color:#5496bf;
}
/*Image Grid*/
.gallery-item{
    display:grid;
    grid-template-columns: auto auto auto;
}
/* Navigation Bar */
.header-right{
    float:right;
    color:black;
    margin:10px;
    font-size:2em;
    font-family:"kaisei+decol", "verdana", "san-serif";
    font-weight: 300;
}
/* Navigation Bar Ends*/

/*Start Home Page*/
.index h1{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700px;
}
.index h3{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight: 400;
}
.image-title{
    text-align: center;
}
.church{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    width:700px;
    height: 338px;
}
.microscope{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    width: 400px;
    height: 550px;
}
.student{
    width: 400px;
    height: 550px;
}
/*End home page*/

/*About page start*/
.about{
    display:grid;
    grid-template-columns: auto auto;
}
.About h1{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700px; 
    text-align:left;
}
.bio{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    float: left;
    width: 45%;
    padding:10px;
    line-height: 1.6;
    border-style: solid;
    }
.clear{
    clear:right;
}
.chico{
    margin:20px;
    float:right;
    width: 400px;
    Height:822px;
    border-style: solid;
    border-color: #162c40, #162C40, #162c40, #162c40;
}
/*About page ends*/
.Hobby{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700;
}
.collies{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    width: 600px;
    height: 450px;
}
.sip{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    width: 600px;
    height: 450px;
}
.books{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    width:700px;
    height:520px;
}
a:link{
    text-decoration: none;
    text-decoration-color: black;
}