body{
    margin: 0;
    background-color:#5496bf;
}
/*Image Grid for index*/
.gallery-item{
    display:grid;
    grid-template-columns: auto auto auto
}
/* Navigation Bar */
.header-right{
    float:right;
    margin:0;
    font-size:2em;
    font-family:"kaisei decol", "verdana", sans-serif;
    font-weight: 300;
}
.header-right a{
    color: black;
}
.header-right a:hover{
    text-decoration: wavy;
    background-color: #162c40;
}
/* Navigation Bar Ends*/

/*Start Home Page*/
.card{
    
}
.title{
    font-family:"Kaisei Decol",verdana, Arial, sans-serif;
    font-weight:700;
}
.path{
    font-family:"Kaisei Decol", verdana, Arial, sans-serif;
    font-weight: 400;
}
.image-title{
    text-align: center;
    font-family: "libre baskerville",verdana, Arial,sans-serif;
}
.church-caption{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    font-weight: 300;
}
.microscope{
    font-family: "libre baskerville",verdana, Arial, sans-serif;
    text-align: center;
    font-weight: 300;
}
.student{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    text-align: center;
}
/*End home page*/

/*About page start*/

.head{
    font-family:"Kaisei Decol",verdana, Arial, sans-serif;
    font-weight:700; 
    text-align:left;
    width:50%;
    margin:5px;
    padding:2px;
}
#bio{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    font-weight: 400;
    padding:5px;
    line-height: 1.6;
    margin:5px;
}
#chico{
    margin:0;
    float:right;
    width: 400px;
    Height:722px;
    border-style: solid;
    border-color: #162c40, #162C40, #162c40, #162c40;
}
.grace a:link{
    color:black
}
/*About page ends*/
.Hobby{
    font-family:"Kaisei Decol",verdana, Arial, sans-serif;
    font-weight:700;
}
.collies{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    font-weight: 300;
}
.sip{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    font-weight: 300;
}
.books{
    font-family: "libre baskerville",verdana, Arial,sans-serif;
    font-weight: 300;
}
a:link{
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
    width: 100%;
    background-color: #735d5d;
}