body{
    background-color:#5496bf;
}
.header-right{
    float:right;
    color:black;
    margin:10px;
    font-size:2em;
    font-family:"kaisei+decol", "verdana", "san-serif";
    font-weight: 300;
}
.index h1{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700px;
}
.index h3{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight: 400;
}
.church{
    width:700px;
    height: 338px;
}
.microscope{
    width: 600px;
    height: 725px;
}
.About h1{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700px; 
    text-align:left;
}
.bio{
    font-family: "libre baskerville","verdana", "Arial","san-serif";
    font-weight: 300;
    float: left;
    width: 45%;
    padding:10px;
}
.chicoimage{
    margin: auto 5px;
    float:right;
    width: 400px;
    Height:822px;
}
.Hobby{
    font-family:"Kaisei+Decol","verdana", "Arial", "san-serif";
    font-weight:700;
}
.collies{
    width: 600px;
    height: 450px;
}
.sip{
    width: 600px;
    height: 450px;
}
.books{
    width:700px;
    height:520px;
}